* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
header {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 25px 15%;
}
ul {
  display: flex;
  list-style: none;
  gap: 16px;
  padding-left: initial;
}
nav {
  margin-right: auto;
}
.black {
  background: rgb(19, 18, 18);
}
section,
footer {
  padding-right: 15%;
  padding-left: 15%;
}
footer .web-rights {
  display: flex;
  gap: 16px;
}
.web-rights p {
  margin-right: auto;
}
/***************Text and cosmetic  Styles**********/
h1 {
  font-size: 1.5em;
}
section p {
  margin: 20px 0;
}
section {
  padding-bottom: 36px;
}
.button-flex {
  display: flex;
  gap: 16px;
}
.button-flex button {
  flex: 1 1 50px;
  max-width: 120px;
  padding: 5px;
  max-height: 30px;
}
ol {
  list-style: none;
}
/************Cards style**********/
.gray-back {
  background: hsl(0, 0%, 94%);
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 32px;
}
.center button {
  padding: 5px;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}
.cards div {
  flex: 1 1 250px;
  max-width: 400px;
  min-height: 300px;
  border-radius: 16px;
  background: white;
}
